/* Comentario en CSS */
/* 
Sintaxis
selector {
    propiedad1: valor;
    propiedad2: valor;
    propiedadN: valor;
}

Pilares de CSS:
    Cascada
    Herencia
    Especificidad

Tipo de Selectores:
    Etiqueta
    Clase (Recomendado)
    ID (Cuando JavaScript si es importante respetar el ID unico)
    Universal (Resetear o Limpiar estilos por defecto del navegador)

Tipos de elementos html:
    inline -> en linea: El tamaño estara determinado por el contenido de la caja, se colocaran uno al lado del otro viualmente
    block -> en bloque: El tamaño siempre va a ocupar el 100% asi el contenido dentro de la caja no ocupe todo el espacio disponible, se colocaran uno debajo del otro visualmente como si hubiese un salto de linea
    inline-block -> en linea y bloque a la vez: es un hibrido que nos permite aprovechar las caracteristicas de ambos
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
    }

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.header {
    background-color: white;
    padding: 20px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Eje Principal */
    align-items: center; /* Eje Secundario */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* opacity: 0.3; */
}

.header__logo {
    width: 200px;
    /* height: 15px; */
}

.navegacion {
    /* background-color: yellow; */
}

.navegacion__lista {
    list-style: none;
    display: flex; /* Flexbox */
}

.navegacion__enlace {
    color: rgb(44, 44, 35);
    text-decoration: none; /* Quitar Subrayado a los elementos enlace */
}

.navegacion__item {
    margin-left: 20px;
    margin-right: 20px;
}

.seccion1 {
    width: 100%;
    min-height: 80vh;
    background-image: url('../imagenes/istmo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(201, 165, 165);

    padding-top: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion1__titulo {
    font-size: 70px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-bottom 32px;
    text-shadow: 2px 2px 2px black;
}

.seccion1__parrafo {
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
}

.seccion2 {
    background-color: white;    
    width: 100%;
    height: 100vh;
    display: flex;
}

.seccion2__ladoA {
    background-color: #435a43;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 32px;
    text-align: center;
    color: white;
}

.seccion2__ladoB {
    background-color: #435a43;
    width: 50%; 
}

.seccion2__ladoB img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccion2__titulo {
    margin-bottom: 30px;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px black;
}
.footer {
    background-color: #435a43;
    color: #FFFFFF;
    padding: 32px;
}

.footer a{
    color: inherit;
}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: center;
    list-style: none;
    gap: 30px;
}

.footer p {
    text-align: left
}

@media (max-width: 768px) {
    .header {
        flex-direction: wrap;
        padding: 0  
        width: 100%;
        height: 100px;
    }
    .navegacion__lista {
        font-size: 12px;
        flex-direction: column;
    }
        
    .header__logo {
        width: 150px;
    }
   
    .seccion1__titulo {
        font-size: 36px;
            }
    .seccion1__parrafo {
        font-size: 15px;
    }

    .seccion2 {
        flex-direction: column;        
        min-height: 100vh;
        font-size: 12px;
    }
    .seccion2__titulo {
        margin-bottom: 10px;
        border-bottom: 2px solid white;
        padding-bottom: 20px;
        text-shadow: 2px 2px 2px black;
    }

    .seccion2--column-reverse {
        background-color: #435a43;
        flex-direction: column-reverse
        font-size: 12px;        
    }
        
    .seccion2__ladoA, .seccion2__ladoB {
        width: 100%;
        min-height: auto
        
    }
    .footer {
        background-color: #435a43;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }
}







